include ../mixins.jade

.section
  .section-title
    .title-text Colors
    .title-section 1.1
  .section-nav
    //- +section-nav-item('Show All')
    //- +section-nav-item('Background')
    //- +section-nav-item('Header')
    //- +section-nav-item('Border')
    //- +section-nav-item('Type')
    //- +section-nav-item('Buttons')
  .section-content
    - const colorGroups = $helpers.getColorGroups()
    section.ui-colors
      .subsection-title Mixpanel UI Colors
      .subsection-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa et libero condimentum dignissim at ut odio. Aliquam placerat libero metus, et fringilla nisl dictum vitae. Sed at lacus eu risus fermentum consequat.
      .indent-container
        .color-chips
          for color in colorGroups['Mixpanel UI Colors']
            .swatch
              .swatch-color(style={'background-color': COLORS[color]})
              .swatch-label
                .color-name= color
                .color-hex= COLORS[color]
      .code-snippet
        .call-out
          strong.icon +
          strong Example Code
        .snippet-container.min.max
          .snippet-header
            label Stylus
          .code-field
            pre
              | 1    /* Color Declarations */
              br
              | 2
              br
              | 3
              b     mp-red   =
              span  #E4567B
              br
              | 4
              b     mp-blue  =
              span  #4BA8FF
              br
              | 5
              b     blue-900 =
              span  #2687E3
              br
              | 6
              b     blue-700 =
              span  #3391E9
    section.data-viz-colors
      .divider 
        label 1.2
      .subsection-title Data Visualization
      .subsection-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa et libero condimentum dignissim at ut odio. Aliquam placerat libero metus, et fringilla nisl dictum vitae. Sed at lacus eu risus fermentum consequat.
      .indent-container
        .color-chips
          for color in colorGroups['Data Visualization']
            .swatch
              .swatch-color(style={'background-color': COLORS[color]})
              .swatch-label
                .color-name= color
                .color-hex= COLORS[color]
      .code-snippet
        .call-out
          strong.icon +
          strong Example Code
        .snippet-container.min.max
          .snippet-header
            label Stylus
          .code-field
            pre
              | 1    /* Color Declarations */
              br
              | 2
              br
              | 3
              b     mp-red   =
              span  #E4567B
              br
              | 4
              b     mp-blue  =
              span  #4BA8FF
              br
              | 5
              b     blue-900 =
              span  #2687E3
              br
              | 6
              b     blue-700 =
              span  #3391E9
    section.color-library-container
      - const colorLibrary = $helpers.getColorLibraries()
      .divider 
        label 1.3
      .subsection-title Color Library
      .subsection-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa et libero condimentum dignissim at ut odio. Aliquam placerat libero metus, et fringilla nisl dictum vitae. Sed at lacus eu risus fermentum consequat.
      .color-library
        for colorGroup in Object.keys(colorLibrary)
          .color-group-container
            strong.color-group-title= colorGroup
            .color-group
              for color in colorLibrary[colorGroup]
                .color-segment(style={'background-color': COLORS[color]})
                  .color-segment-hex= COLORS[color]
                  .color-segment-name= color
