.style-guide

  .section
    h1 Colors
    p.item-palette.color-palette.mp-font-list-item
      each color in Object.keys(COLORS)
        .list-block
          .square(style={'background-color': COLORS[color]})
          .label
            = color
            mp-tooltip= COLORS[color]

  .section
    h1 Icons
    p.item-palette.icon-palette
      each icon in Object.keys(SVG_ICONS)
        .list-block
          svg-icon(attributes={icon})
          .label= icon
      .list-block
        svg-icon(attributes={empty: true})
        .label <empty>

  .section
    h1 Typography

    h2 Sizes
    p.mp-font-xl .mp-font-xl | Mixpanel helps you learn from your data
    p.mp-font-large .mp-font-large | Mixpanel helps you learn from your data
    p.mp-font-medium .mp-font-medium | Mixpanel helps you learn from your data
    p.mp-font-default .mp-font-default | Mixpanel helps you learn from your data
    p.mp-font-xs .mp-font-xs | Mixpanel helps you learn from your data

    h2 Weights
    p.mp-font-weight-regular .mp-font-weight-regular | Mixpanel helps you learn from your data
    p.mp-font-weight-medium .mp-font-weight-medium | Mixpanel helps you learn from your data
    p.mp-font-weight-bold .mp-font-weight-bold | Mixpanel helps you learn from your data

    h2 Utility classes
    p.mp-font-paragraph .mp-font-paragraph
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim sodales rhoncus. Cras rutrum nisl et sapien efficitur tempus. Sed sagittis sed lorem in efficitur. Morbi sollicitudin interdum sapien, vitae semper odio dapibus non. Aenean id massa id nunc cursus varius. Suspendisse congue leo ac ante egestas molestie. Phasellus nec arcu in dolor tincidunt ornare a sed nunc. Proin et dapibus augue, sit amet fermentum risus. Integer ornare convallis nulla, in condimentum lectus efficitur et. Fusce facilisis, ex vitae consequat scelerisque, enim nibh fringilla ligula, a bibendum orci lorem id felis. Mauris eget augue nibh. Ut quis pharetra velit. Donec tempor ante id risus porttitor venenatis. Proin id dictum arcu, pulvinar iaculis augue. Aliquam in nunc vitae urna feugiat condimentum.


  .section.buttons
    h1 Buttons
    p
      mp-button.mp-button-primary .mp-button-primary
      mp-button.mp-button-primary(disabled) disabled
    p
      mp-button.mp-button-secondary .mp-button-secondary
      mp-button.mp-button-secondary(disabled) disabled
    p
      mp-button.mp-button-red .mp-button-red
      mp-button.mp-button-red(disabled) disabled
    p.button-field
      mp-button.mp-button-primary.mp-button-on-blue primary on-blue
      mp-button.mp-button-primary.mp-button-on-blue(disabled) disabled
    p.button-field
      mp-button.mp-button-secondary.mp-button-on-blue secondary on-blue
      mp-button.mp-button-secondary.mp-button-on-blue(disabled) disabled

  .section
    h1 Forms
    p To do...
    p
      input(type="text" placeholder="I'm a placeholder")

  .section
    h1 Modals
    p
      a(href="#" onclick=() => $helpers.openModal('#modal')) Open modal
    p
      a(href="#" onclick=() => $helpers.openModal('#popup')) Open popup
    p
      a(href="#" onclick=() => $helpers.openModal('#alert-modal')) Open alert

    mp-modal(id="modal" attributes={closeable: true, closed: true})
      .mp-modal-title(attributes={'slot-body': true}) Easily track events
      .mp-modal-subtitle(attributes={'slot-body': true}) Click on any element on your page (e.g. the buy button) to create an event and access all historical data for that event.
      mp-button.mp-button-modal.mp-button-primary(
        onclick=() => $helpers.closeModal('#modal')
        attributes={'slot-button': true, 'arrow-next': true}
      ) Create your first event

    mp-modal(id="popup" width="500px" attributes={'modal-type': "popup", closeable: true, closed: true})
      .mp-modal-title(attributes={'slot-body': true}) Easily track events
      .mp-modal-subtitle(attributes={'slot-body': true}) Click on any element on your page (e.g. the buy button) to create an event and access all historical data for that event.
      mp-button.mp-button-modal.mp-button-primary(
        onclick=() => $helpers.closeModal('#popup')
        attributes={'slot-button': true}
      ) Create your first event

    mp-modal(id="alert-modal" attributes={'modal-type': "popup", closeable: true, closed: true, alert: true})
      div(attributes={'slot-body': true})
        .mp-modal-alert-title Your event failed to save
        .mp-modal-alert-subtitle If your issue persists please contact our support team at support@mixpanel.com to get help quickly

  .section.toggles
    h1 Toggles
    p One element out of a set of two or more is always selected.
    mp-toggle.mp-toggle-blue.inline-toggle(
      attributes={selected: blueToggleValue}
      onchange=$helpers.blueToggleChanged
    )
      mp-toggle-option(attributes={value: 'option1'}) Option 1
      mp-toggle-option(attributes={value: 'option2'}) Option 2
    span.toggle-val Selected: #{blueToggleValue}
    mp-toggle.full-width-toggle(attributes={selected: 'option1'})
      mp-toggle-option(attributes={value: 'option1'}) Option 1
      mp-toggle-option(attributes={value: 'option2'}) Option 2
      mp-toggle-option(attributes={value: 'option3'}) Option 3

  .section
    h1 Tooltips
    p.mp-font-paragraph
      a
        | Hover me
        mp-tooltip This is my tooltip
