.style-guide

  .section
    h1 Colors
    p.item-palette.color-palette.mp-font-list-item
      each color in Object.keys(COLORS)
        .list-block
          .square(style={'background-color': COLORS[color]})
          .label
            = color
            mp-tooltip= COLORS[color]

  .section
    h1 Icons
    p.item-palette.icon-palette
      each icon in Object.keys(SVG_ICONS)
        .list-block
          svg-icon(attributes={icon})
          .label= icon
      .list-block
        svg-icon(attributes={empty: true})
        .label <empty>

  .section
    h1 Typography

    h2 Sizes
    p.mp-font-size-xl .mp-font-size-xl | Mixpanel helps you learn from your data
    p.mp-font-size-large .mp-font-size-large | Mixpanel helps you learn from your data
    p.mp-font-size-medium .mp-font-size-medium | Mixpanel helps you learn from your data
    p.mp-font-size-default .mp-font-size-default | Mixpanel helps you learn from your data
    p.mp-font-size-xs .mp-font-size-xs | Mixpanel helps you learn from your data

    h2 Weights
    p.mp-font-weight-regular .mp-font-weight-regular | Mixpanel helps you learn from your data
    p.mp-font-weight-medium .mp-font-weight-medium | Mixpanel helps you learn from your data
    p.mp-font-weight-bold .mp-font-weight-bold | Mixpanel helps you learn from your data

    h2 Utility classes
    p.mp-font-paragraph .mp-font-paragraph
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim sodales rhoncus. Cras rutrum nisl et sapien efficitur tempus. Sed sagittis sed lorem in efficitur. Morbi sollicitudin interdum sapien, vitae semper odio dapibus non. Aenean id massa id nunc cursus varius. Suspendisse congue leo ac ante egestas molestie. Phasellus nec arcu in dolor tincidunt ornare a sed nunc. Proin et dapibus augue, sit amet fermentum risus. Integer ornare convallis nulla, in condimentum lectus efficitur et. Fusce facilisis, ex vitae consequat scelerisque, enim nibh fringilla ligula, a bibendum orci lorem id felis. Mauris eget augue nibh. Ut quis pharetra velit. Donec tempor ante id risus porttitor venenatis. Proin id dictum arcu, pulvinar iaculis augue. Aliquam in nunc vitae urna feugiat condimentum.


  .section.buttons
    h1 Buttons
    p
      mp-button.mp-button-primary .mp-button-primary
      mp-button.mp-button-primary(disabled) disabled
    p
      mp-button.mp-button-secondary .mp-button-secondary
      mp-button.mp-button-secondary(disabled) disabled
    p
      mp-button.mp-button-red .mp-button-red
      mp-button.mp-button-red(disabled) disabled
    p.button-field
      mp-button.mp-button-primary.mp-button-on-blue primary on-blue
      mp-button.mp-button-primary.mp-button-on-blue(disabled) disabled
    p.button-field
      mp-button.mp-button-secondary.mp-button-on-blue secondary on-blue
      mp-button.mp-button-secondary.mp-button-on-blue(disabled) disabled

    h1 Buttons w/ icons
    p
      mp-button.mp-button-secondary(attributes={icon: 'x'}) Close
      mp-button.mp-button-secondary(attributes={icon: 'logout'}) Exit
      mp-button.mp-button-primary(attributes={icon: 'plus'}) Create
      mp-button.mp-button-red(attributes={icon: 'trashcan'}) Delete
    p.button-field
      mp-button.mp-button-primary.mp-button-on-blue(attributes={icon: 'plus'}) Create
      mp-button.mp-button-primary.mp-button-on-blue(attributes={icon: 'plus'} disabled) Create
    p.button-field
      mp-button.mp-button-secondary.mp-button-on-blue(attributes={icon: 'x'}) Cancel
      mp-button.mp-button-secondary.mp-button-on-blue(attributes={icon: 'x'} disabled) Cancel

  .section.button-bars
    h1 Button bar
    p.button-bar-container
      mp-button-bar.mp-button-bar-secondary I'm a button bar
    p.button-bar-container
      mp-button-bar.mp-button-bar-secondary(attributes={disabled: true}) I'm a disabled button bar
    p.button-bar-container
      mp-button-bar.mp-button-bar-primary(attributes={'arrow-next': true}) Next step
    p.button-bar-container
      mp-button-bar.mp-button-bar-primary(attributes={'arrow-next': true, disabled: true}) Next step

  .section.forms
    h1 Forms
    h2 Input
    p
      input(type="text" placeholder="I'm a placeholder")
    h2 Input with icon
    p
      .mp-icon-input
        .mp-icon
          svg-icon(attributes={icon: "search"})
        input(type="text" placeholder="Some placeholder text")

    h2 Input group
    p
      mp-input-group(
        attributes={placeholder: "Type a name...", busy: inputGroupSaving}
        onchange=$helpers.handleNamerChange
        onsubmit=$helpers.handleNamerSubmit
      )

  .section.menus
    h1 Menus
    p
      button(onclick=$helpers.toggleMenu) Open Menu
      .drop-menu-container
        mp-drop-menu(
          attributes={open: open.menu} 
          onchange=e => $helpers.handleModalChange('menu', e.detail.state)
        )
          .text-container
            .text there is text here
            .text there is text here
            .text there is text here

  .section.modals
    h1 Modals
    p
      button(onclick=() => $helpers.openModal('modal')) Open modal

      mp-modal.modal(
        attributes={closeable: true, open: open.modal}
        onchange=e => $helpers.handleModalChange('modal', e.detail.state)
      )
        div
          .mp-modal-content
            .mp-modal-title Easily track events
            .mp-modal-subtitle Click on any element on your page (e.g. the buy button) to create an event and access all historical data for that event.
          mp-button-bar.mp-button-bar-primary(
            onclick=() => $helpers.closeModal('modal')
            attributes={'arrow-next': true}
          ) Create your first event


    p
      button(onclick=() => $helpers.openModal('popup')) Open popup

      mp-modal.popup(
        attributes={'modal-type': 'popup', closeable: true, open: open.popup}
        onchange=e => $helpers.handleModalChange('popup', e.detail.state)
      )
        div
          .mp-modal-content
            .mp-modal-title Easily track events
            .mp-modal-subtitle Click on any element on your page (e.g. the buy button) to create an event and access all historical data for that event.
          mp-button-bar.mp-button-bar-primary(
            onclick=() => $helpers.closeModal('popup')
          ) Create your first event


    p
      button(onclick=() => $helpers.openModal('confirm')) Open confirm

      mp-confirm(
        attributes={open: open.confirm}
        onsubmit=e => console.log(e.detail)
        onchange=e => $helpers.handleModalChange('confirm', e.detail.state)
      )
        div
          .mp-confirm-title Unsaved changes
          .mp-confirm-description If you navigate away from this page you will lose your changes. Would you like to continue?


    p
      button(onclick=() => $helpers.openModal('confirmDelete')) Open confirm-delete

      mp-confirm-delete(
        attributes={id: 'confirmDelete', 'delete-button-label': 'Delete it', closeable: true, open: open.confirmDelete}
        onsubmit=e => console.log(e.detail)
        onchange=e => $helpers.handleModalChange('confirmDelete', e.detail.state)
      )
        div
          .mp-confirm-delete-title Delete Bookmark
          .mp-confirm-delete-description Are you sure you want to delete this bookmark?


    p
      button(onclick=() => $helpers.openModal('alert')) Open alert

      mp-alert(
        attributes={id: 'alert', closeable: true, open: open['alert']}
        onchange=e => $helpers.handleModalChange('alert', e.detail.state)
      )
        div
          .text AHHH DANGER DANGER There is currently an error

  .section.toggles
    h1 Toggles
    p One element out of a set of two or more is always selected.
    mp-toggle.mp-toggle-blue.inline-toggle(
      attributes={selected: blueToggleValue}
      onchange=$helpers.blueToggleChanged
    )
      mp-toggle-option(attributes={value: 'option1'}) Longer Option 1
      mp-toggle-option(attributes={value: 'option2'}) Opt2
    span.toggle-val Selected: #{blueToggleValue}

    mp-toggle.full-width-toggle(attributes={selected: 'option1'})
      mp-toggle-option(attributes={value: 'option1'}) Super long option text
      mp-toggle-option(attributes={value: 'option2'}) Short
      mp-toggle-option(attributes={value: 'option3'}) Medium text here

    mp-toggle.full-width-toggle.large-toggle(attributes={selected: 'option2'})
      mp-toggle-option(attributes={value: 'option1'}) Longer Option 1
      mp-toggle-option(attributes={value: 'option2'}) Longer Option 2

  .section
    h1 Spinners
    mp-spinner

  .section
    h1 Tooltips
    p.mp-font-paragraph
      a
        | Hover me
        mp-tooltip This is my tooltip


  .section.widgets
    h1 Widgets
    p
      .bookmarks-widget
        mp-bookmarks-widget(
          attributes={
            bookmarks: JSON.stringify(bookmarks),
            'create-disabled': false,
            open: open.bookmarksWidget,
            saving: savingBookmark,
            'selected-bookmark-id': selectedBookmarkId,
            'user-id': 1,
          }
          onsubmit=$helpers.handleBookmarksMenuSubmit
          onchange=$helpers.handleBookmarksMenuChange
        )

    h2 tag-selector widget
    .tag-selector-container
        mp-tag-selector(
          attributes={
              "selected-tags": JSON.stringify(tagSelectorData.selectedTags),
              "all-tags": JSON.stringify(tagSelectorData.allTags),
              "load-state": tagSelectorLoadState,
          }
          onchange=$helpers.handleTagSelectorChange
        )
          .title
            .header
              svg-icon(attributes={icon: "check-success"})
              .header-text Report added to company dashboard
            .subtext Viewed report by type
