.mp-tag-selector-container
  .mp-tag-selector-top-input-wrapper
    .mp-tag-selector-input-wrapper(on={click: $helpers.focusInput})
      if !$component.isAttributeEnabled('read-only')
        - const tags = [...selectedTags];
        for tag in tags
          - const attrs = {'tag-name': tag, 'removable': tags.length > 1}
          if tag === 'my dashboard'
            - attrs['icon'] = 'profile-large';
          mp-tag(
            attrs=attrs
            key='tag-' + tag,
            class={delayed: {'mp-tag-selector-tag-in': true}, remove: {'mp-tag-selector-tag-out': true, delayRemove: 250}}
            on={change: e => { e.stopPropagation(); $helpers.removeTag(tag) }}
          )
      - const isEmpty = !selectedTags.size
      if isEmpty
        .mp-tag-selector-mp-icon.mp-icon
            svg-icon(attrs={icon: 'search'})
      input.mp-tag-selector-search-input(
        class={'mp-tag-selector-empty': isEmpty}
        props={type: 'text', value: inputText, placeholder: isEmpty ? 'Add dashboards...' : ''}
        on={
          input: $helpers.setInputText,
          keydown: $helpers.handleKeyDown,
          keypress: $helpers.handleKeyPress,
        }
        style={width: isEmpty ? '100%' : inputWidth}
      )
      .mp-tag-selector-border(class={'mp-tag-selector-error': $component.isAttributeEnabled('error')})

  - const hasMatches = matchingTags.length;
  - const showCreateButton = $helpers.showCreateButton();

  if hasMatches
    .mp-tag-selector-hr

  if hasMatches
    .mp-tag-selector-tag-list
      for tag, tagIdx in matchingTags
        mp-list-item(
          attrs={active: tagIdx === activeTagIndex, 'tag-name': tag}
          on={click: () => $helpers.addTag(tag)}
        )
          if tag === 'my dashboard'
            svg-icon(attrs={icon: 'profile-large'})
          .mp-tag-selector-tag-list-item
            for token, pos in $helpers.stringFilterMatches($helpers.toSentenceCase(tag), inputText)
              if pos % 2 === 1
                span= token
              else
                b= token

  if showCreateButton
    .mp-tag-selector-hr
    .mp-tag-selector-footer(on={click: () => $helpers.addTag(inputText)})
      .mp-tag-selector-copy
        | Create new dashboard for
        = ' '
      .mp-tag-selector-label-name= inputText
